<div class="navbar">
  <a href="/">Dashboard</a>

  <div class="right">
    <% if (user) { %>
      <a href="/servers">Servers</a>
      <a href="/status">Status</a>
      <a href="/commands">Commands</a>
      <a href="/api">API</a>
      <a href="/login/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>
  </div>
</div>